%h3= "#{@user.first_name}'s List"

- if @user.list.items.any?
  - @user.list.items.each do |item|
    .panel.panel-default
      .panel-header
        .panel-title= item.name
      .panel-body
        .row
          .col-xs-2.col-sm-1
            Link:
          .col-xs-10.col-sm-11
            - if item.url.present?
              = link_to(item.name, item.full_url, target: "new")
            - else
              No link provided.

        .row
          .col-xs-2.col-sm-1
            Notes:
          .col-xs-10.col-sm-11
            - if item.notes.present?
              = item.notes
            - else
              No notes provided.
      .panel-footer
        .row
          .item-link= link_to(raw("#{fa_icon("pencil-square-o")} Edit Item"), edit_item_path(item))
          .item-link= link_to(raw("#{fa_icon("times-circle")} Delete Item"), item_path(item), method: :delete, "data-confirm" => "Are you sure you want to remove #{item.name} from your list?")

- else
  .panel.panel-default
    .panel-body
      Nothing saved to your list yet. Add an item and get started!

.well
  %h6 Add Item To Your List
  = render "items/form", owner_list_id: @user.list.id