%h1.text-center= "#{@user.first_name}'s Dashboard"
- if @user.associated_users.any? or @user.associated_owner
  .btn-group#associated-users
    %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown", "aria-expanded" => false}
      = raw("Switch User <span class='caret'>")
    %ul.dropdown-menu.dropdown-menu-right
      - for associated_user in @user.associated_users
        %li= link_to(associated_user.user.name, dashboard_path(user_id: associated_user.user.id))
      - unless @user == current_user
        %li= link_to(current_user.name, dashboard_path)
      %li= link_to("Add User", new_user_path)
- else
  = link_to("Add User", new_user_path, class: "btn btn-success", id: "associated-users")

%div{role: "tabpanel"}
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}= link_to("#{@user.first_name}'s List", "#your-list", "aria-controls" => "your-list", "data-toggle" => "tab")
    %li{role: "presentation"}= link_to("Pair's List", "#pair-list", "aria-controls" => "pair-list", "data-toggle" => "tab")

  .tab-content
    .tab-pane.active#your-list{role: "tabpanel"}
      = render "lists/user"

    .tab-pane#pair-list{role: "tabpanel"}
      = render "lists/pair"
