%h1= "#{@user.first_name}'s Dashboard"

%div{role: "tabpanel"}
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}= link_to("Your List", "#your-list", "aria-controls" => "your-list", "data-toggle" => "tab")
    %li{role: "presentation"}= link_to("Pair's List", "#pair-list", "aria-controls" => "pair-list", "data-toggle" => "tab")

  .tab-content
    .tab-pane.active#your-list{role: "tabpanel"}
      %h3 Your List

      - if @user.list.items.any?
        - @user.list.items.each do |item|
          = item.name
      - else
        Nothing saved to your list yet. Add an item and get started!

      .well
        %h6 Add Item To Your List
        = render "items/form"

    .tab-pane#pair-list{role: "tabpanel"}
      %h3 Pair's List