%h1= "#{@user.first_name}'s Dashboard"

%div{role: "tabpanel"}
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}= link_to("Your List", "#your-list", "aria-controls" => "your-list", "data-toggle" => "tab")
    %li{role: "presentation"}= link_to("Pair's List", "#pair-list", "aria-controls" => "pair-list", "data-toggle" => "tab")

  .tab-content
    .tab-pane.active#your-list{role: "tabpanel"}
      = render "lists/user"

    .tab-pane#pair-list{role: "tabpanel"}
      %h3 Pair's List