= form_for @item, url: (@item.new_record? ? items_path(@item) : item_path(@item) ) do |f|
  = render "shared/errors", object: @item

  .form-group
    = f.label :name, "Item Name"
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :url, "Website Address"
    = f.text_field :url, class: "form-control"

  .form-group
    = f.label :notes
    = f.text_field :notes, class: "form-control"

    = f.hidden_field :list_id, value: owner_list_id

  = f.submit("#{@item.new_record? ? 'Add Item' : 'Edit Item'}", class: "btn btn-success")