= form_for @item, url: (@item.new_record? ? items_path(@item) : item_path(@item) ) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  = f.submit("#{@item.new_record? ? 'Add Item' : 'Edit Item'}")